
<div class="jumbotron center">
    <h1> Welcome to <span class="appName">Pinteresting</span> !</h1>
    <p>Much more than a pale copy of ... </p>
    <p>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </p>

    
</div>